<a class="content-header-nav-back uk-navbar-content" href="{{ path('tokenAdminListPage') }}" title="{% trans %}back_to.token.list{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
