<a class="content-header-nav-back uk-navbar-content" href="{{ path('clientAdminListPage') }}" title="{% trans %}back_to.client{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
